ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.navbar{
    background-color: aquamarine;
    padding: 50px;
}
#MDN{
    color:red;
    font-weight: bolder;
}
#Youtube{
    color: orange;
    font-style: italic;
}
#Geeks{
    color: darkgreen;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li::before{
    content: " --";
    color: blue;
    margin-right: 8px;
}
/* Use the child combinator to style only the direct children of the main <ul> list. */
.navbar > ul > li{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}




