h1{
    font-size: larger;
    color: red;
}
p{
    font-size:large;
    line-height: 1.5;
}
.about-me{
    padding: 5px;
    background-color: aqua;
}
#profile-pic{
    width: 300px;
    border-radius: 20%;
    border: 5px solid;
}